body{
    margin: 0;
    display: flex;
    background-color: rgba(229, 204, 13, 0.852);
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
}
.form{
    /* width: 400px; */
    /* height: 500px; */
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 10px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px purple;
    color: green;
}
.input::placeholder{
    color: lightgray;
    font-family: cursive;
}
.btn{
    background-color: purple;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9);
}
.score{
    text-align: right;
    color: green;
    font-size: 20px;
}